includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon

parameters:
	symfony:
		container_xml_path: %rootDir%/../../../var/cache/test/Hanaboso_RestBundleTests_app_KernelTestDebugContainer.xml
	ignoreErrors:
		-
			message: '#Error suppression via "@" should not be used.#'
			path: src/Model/EventSubscriber.php
		-
			message: '#Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with false will always evaluate to false#'
			path: tests/Integration/DependencyInjection/CompilerPass/RestCompilerPassTest.php
	ergebnis:
			classesAllowedToBeExtended:
				- Hanaboso\RestBundleTests\KernelTestCaseAbstract
				- Hanaboso\RestBundle\Exception\DecoderExceptionAbstract
